{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block main %}
<!--add ur code here -->
<div class="p-5 p-md-3 mb-4 text-white rounded bg-dark my-4 mx-0">
    <div class="col-md-8 px-0">
      <h1 class="display-4 fst-italic">About us</h1>
    </div>
</div>

<section id="about1">
    <div class="container">
      <div class="row justify-content-md-around justify-content-center align-items-center">
           <div class="col-11 col-md-5 my-3">
                <h1 class="text-title mb-3"  style="color:#1DB9C3" >Statistics</h1>
                <p class="text-muted mt-2 fs-5">According to statistics, men are nearly 1.5 times more likely to be considered financially healthy than women.
                    Women are more financially vulnerable, as 17% of women versus 24% of men struggle in most financial areas in their lives.
                    Only 23% of women are CFP (Certified Financial Planner) professionals.
                    
                </p>
           </div>
           <div class="col-5 col-md-5 my-1">
            <img src="static/stats.svg/" alt="" class="w-100 img-cover">
       </div>
      </div>
  </div>
  </section>

  <section id="about1">
    <div class="container">
      <div class="row justify-content-md-around justify-content-center align-items-center">
           <div class="col-11 col-md-5 my-3">
                <img src="static/goals.svg/" alt="" class="w-100 img-cover">
           </div>
           <div class="col-11 col-md-5 my-3">
                <h1 class="text-title mb-3"  style="color:#1DB9C3">Our Mission:</h1>
                <p class="text-muted mt-2 fs-5"> We aim to help females become financially independent by teaching them effective money managing strategies.
                    Our ultimate goal is to end the wage gap.
                    
                </p>
           </div>
      </div>
  </div>
  </section>

  <section id="about1">
    <div class="container">
      <div class="row justify-content-md-around justify-content-center align-items-center">
           <div class="col-11 col-md-5 my-3">
                <h1 class="text-title mb-3"  style="color:#1DB9C3" >How we do this?</h1>
                <p class="text-muted mt-2 fs-5">Our chatbot allows women to have a personalized experience where they can use the the bot in an interactive way. It provides specific information based on what the user wants to know, such as help with budgeting.
                    The website gives women resources to learn more about financial topics. We also have monthly occurring challenges as an incentive for women to save and spend wisely.                    
                    
                </p>
           </div>
           <div class="col-5 col-md-5 my-1">
            <img src="static/how.svg/" alt="" class="w-100 img-cover">
       </div>
      </div>
  </div>
  </section>

{% endblock %}